# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# fuck you
.idea
.env
.env.production

# news from the old site I was working on converting over to the new format
/oldNews
src/newsletters/2023 Week 12
.claude/settings.local.json
